@charset "utf-8";

body {
    margin: 0;
    font-family: 'Kiwi Maru', serif;
    color: #483627;
}

h2 {
    font-weight: 500;
    font-size: 2.5vw;
}
.contents {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}


/* 波ここから */
#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* 波ここまで */


/* メインイメージここから */
.top_wave {
    background-image: url(../images/cat458A8420_TP_V.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* メインイメージここまで */


/* ホームエリアここから */
#home {
    background-color: #FBF4CC;
}
.home_flex {
    display:flex;
    justify-content: space-around;
    margin:  0 auto;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 1em 0 1em 0 ;
}
.reverse {
    flex-direction:row-reverse;
}
.home_text{
    margin: 2em;
}
.home_text p {
    font-weight: 500;
    line-height: 2;
    font-size: 1.25em;
}
.space {
    letter-spacing: 0.2em;
}
.home_flex img {
    width: 40%;
}
.home_wave #wrapper {
    height: 100px;
}
/* ホームエリアここまで */


/* スタッフエリアここから */
#staff {
    background-color: #FFC8C8;
}

.staff_box{
    position: relative;
}
.staff_img {
    text-align: center;
}
.staff_img img{
    width: 65%;
}
.staff_text {
    position: absolute;
    top: 0;
    left: 22%;
}
.staff_text h2 span {
    font-size: 0.6em;
}
.staff_text p {
    font-weight: 500;
    line-height: 2;
    font-size: 1.3em;
}

/* ボタン */
.button a {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  5em auto 2em auto;
    padding: 1em 2em;
    width: 200px;
    font-weight: bold;
    background-color: #fca6a6;
    box-shadow: 0 5px 0 #f89393;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    color: #483627;
}
.button a:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #f89393;
    /* color: #f89393; */
    background-color: #ffffff;
}

.staff_wave #wrapper {
    height: 100px;
}
/* スタッフエリアここまで */